body,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	background: linear-gradient(45deg, #fffb00, #ff0000, #008a07);
	background-size: 400% 400%;
	animation: wave 10s ease-in-out infinite;
}

@keyframes wave {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#forms {
	text-align: center;
	width: 100vw;
	height: auto;
}

#forms div {
	width: 70vw;
	margin-left: 15vw;
	margin-top: 5vh;
}
table {
	border-collapse: collapse;
	overflow: hidden;
	border-radius: 10px !important;
	text-align: center;
	width: 100%;
}
table thead tr th {
	font-family: sans-serif;
	font-size: 15px;
	color: #fff;
	line-height: 1.2;
	font-weight: unset;
	padding: 7px;
}
thead {
	height: 40px;
	background: #36304a;
	color: white;
	text-align: center;
}

tbody tr {
	font-family: sans-serif;
	font-size: 15px;
	color: gray;
	line-height: 5;
	font-weight: unset;
	background-color: white;
}

input[type='text'] {
	border-radius: 5px;
	border: 2px solid #36304a;
	padding: 3px;
}

button {
	border-radius: 6px;
	background-color: #4fb783;
	color: white;
	padding: 5px;
	border: 0px;
}

button:hover {
	background-color: #45a575;
		
}

#log {
	font-size: 17px;
	text-decoration: none;
	background-color: black;
	color: white;
	padding: 3.5px;
	border-radius: 4px;
	float: right;
	margin-right: 10px;
}

